<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.senspark.libBaaSParse"
    android:versionCode="1"
    android:versionName="0.9" >
    <uses-sdk tools:overrideLibrary="com.facebook, com.facebook.ads, android.support.customtabs" />
</manifest>

