<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.senspark.libAdsAdmob"
    android:versionCode="1"
    android:versionName="1.0">
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />
</manifest>
